<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.great.dao.CarMapper">
  <resultMap id="BaseResultMap" type="com.great.bean.Car">
    <id column="CAR_ID" jdbcType="DECIMAL" property="carId" />
    <result column="CAR_NUM" jdbcType="VARCHAR" property="carNum" />
    <result column="CAR_STATE" jdbcType="DECIMAL" property="carState" />
    <result column="CAR_DATE" jdbcType="TIMESTAMP" property="carDate" />
    <result column="SCHOOL_ID" jdbcType="DECIMAL" property="schoolId" />
    <result column="COACH_ID" jdbcType="DECIMAL" property="coachId" />
  </resultMap>
   <!-- 教练车表的增加 -->
  <insert id="add" parameterType="com.great.bean.Car">
  insert into T_CAR (CAR_ID,CAR_NUM,SCHOOL_ID,COACH_ID) 
  values (SEQ_T_NOTICE.NEXTVAL,#{carNum},#{schoolId},#{coachId})
  </insert>
  <!-- 教练车的修改 -->
  <update id="update" parameterType="com.great.bean.Car">
  update T_CAR SET CAR_NUM=#{carNum},SCHOOL_ID=#{schoolId},COACH_ID=#{coachId}
   WHERE CAR_ID=#{carId}
  </update>
  <!-- 假删除教练车表信息 -->
  <update id="delete" parameterType="com.great.bean.Car">
  update T_CAR SET CAR_State=99 WHERE CAR_ID=#{carId}
  </update>
  <!-- 查询教练车 -->
  <select id="queryAll"  resultType="map">
  select a.*,b.SCHOOL_NAME,c.COACH_NAME from T_CAR a,T_SCHOOL b,T_COACH c
 WHERE a.SCHOOL_ID=b.SCHOOL_ID and a.COACH_ID=c.COACH_ID and CAR_State!=99
  </select>
  <!-- 查询所有教练车 -->
  <select id="queryOne"  resultType="map">
  select a.*,b.SCHOOL_NAME,c.COACH_NAME from T_CAR a,T_SCHOOL b,T_COACH c
  WHERE a.SCHOOL_ID=b.SCHOOL_ID and a.COACH_ID=c.COACH_ID and CAR_State!=99 and CAR_ID=#{carId}
  </select>
  
</mapper>