<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.great.dao.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.great.bean.Notice">
    <id column="NOTICE_ID" jdbcType="DECIMAL" property="noticeId" />
    <result column="NOTICE_TITLE" jdbcType="VARCHAR" property="noticeTitle" />
    <result column="NOTICE_CONTENT" jdbcType="VARCHAR" property="noticeContent" />
    <result column="NOTICE_STATE" jdbcType="DECIMAL" property="noticeState" />
    <result column="NOTICE_DATE" jdbcType="TIMESTAMP" property="noticeDate" />
  </resultMap>
   <!-- 通知公告表的增加 -->
  <insert id="add" parameterType="com.great.bean.Notice">
  insert into T_NOTICE (NOTICE_ID,NOTICE_TITLE,NOTICE_CONTENT) 
  values (SEQ_T_NOTICE.NEXTVAL,#{NOTICE_TITLE},#{NOTICE_CONTENT})
  </insert>
  <!-- 通知公告表的修改 -->
  <update id="update" parameterType="com.great.bean.Notice">
  update T_NOTICE SET NOTICE_TITLE=#{noticeTitle},NOTICE_CONTENT=#{noticeContent}
   WHERE NOTICE_ID=#{noticeId}
  </update>
  <!-- 假删除通知公告表信息 -->
  <update id="delete" parameterType="com.great.bean.Notice">
  update T_NOTICE SET NOTICE_STATE=99 WHERE NOTICE_ID=#{noticeId}
  </update>
  <select id="queryAll"  resultMap="BaseResultMap">
  select * FROM T_NOTICE WHERE NOTICE_STATE!=99
  </select>
  
</mapper>